#don-separator-1 {
  background-color: #7e86a5;
  padding: 5%;
  height: fit-content;
  align-content: center;
}

#don-separator-1-title {
  justify-content: space-around;
  text-align: center;
  font-size: 3.5rem;
  font-weight: 500;
  color: white;
  margin: initial;
}

#don-separator-1-content {
  margin: auto;
  width: fit-content;
  text-align: center;
  font-size: 2rem;
  color: white;
}
