#services-title {
  font-family: Helvetica;
  padding: initial;
  font-weight: 700;
  font-size: 3rem;
}

#services-subtitle {
  font-family: Helvetica;
  padding: initial;
  font-weight: 400;
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-size: 2rem;
}

#description-services {
  font-size: 1.2rem;
  text-align: left;
  padding: 5%;
  margin: auto;
}

#young-adults-schedule {
  font-size: 1rem;
  font-weight: 300;
  color: #1b2246;
  text-align: left;
}

#presence-container {
  background-color: #f6f2f1;
}
