#donation-title {
  font-size: 60px;
  color: #1b2246;
  font-weight: 700;
  text-align: center;
}

#donation-description {
  font-size: 1.5rem;
  font-weight: 300;
  color: gray;
}

#more-donations {
  justify-content: space-around;
  margin: auto;
}

#image-container {
  position: relative;
  text-align: center;
  color: white;
  font-size: 6vw;
  font-weight: 700;
}

#centered {
  position: absolute;
  width: max-content;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#don-separator-1 {
  background-color: #7e86a5;
  padding: 5%;
  height: fit-content;
  align-content: center;
}

#don-separator-1-title {
  justify-content: center;
  text-align: center;
  font-size: 3.5rem;
  font-weight: 500;
  color: white;
  width: auto;
  max-width: fit-content;
}

#don-separator-1-content {
  margin: auto;
  width: fit-content;
  text-align: center;
  font-size: 2rem;
  color: white;
}
