#donation-title {
  font-size: 60px;
  color: #1b2246;
  font-weight: 700;
  text-align: center;
}

#donation-description {
  font-size: 1.5rem;
  font-weight: 300;
  color: gray;
}

#more-donations {
  justify-content: space-around;
  margin: auto;
}

#image-container {
  position: relative;
  text-align: center;
  color: white;
  font-size: 6vw;
  font-weight: 700;
}

#centered {
  position: absolute;
  width: max-content;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#don-separator-1 {
  background-color: #7e86a5;
  padding: 5%;
  height: fit-content;
  align-content: center;
}

#don-separator-1-title {
  justify-content: space-around;
  text-align: center;
  font-size: 3.5rem;
  font-weight: 500;
  color: white;
  margin: initial;
}

#don-separator-1-content {
  margin: auto;
  width: fit-content;
  text-align: center;
  font-size: 2rem;
  color: white;
}

.button {
  display: block;
  width: 124px;
  height: 44px;
  margin-left: 15px;

  font-size: 22px;
  line-height: 44px;
  text-align: center;
  text-decoration: none;
  color: white;

  background-color: #169bd7;
  border-radius: 4px;
  box-shadow: 0 4px 0 #0c5f86b8, 0 5px 5px 1px rgba(0, 0, 0, 0.4);

  -webkit-transition: all 0.15s ease-in-out;
  -moz-transition: all 0.15s ease-in-out;
  -o-transition: all 0.15s ease-in-out;
  -ms-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
}

.button:hover {
  background-color: #222d65;
  box-shadow: 0 4px 0 #222d65, 0 5px 5px 1px rgba(0, 0, 0, 0.4);
}

.button:active {
  margin-top: -8px;
  box-shadow: none;
}
