#title {
  font-size: 3rem;
  font-weight: 700;
  color: white;
  text-align: center;
  margin: auto;
}

#title-container {
  background-color: #1b2246;
}

#sub-title {
  font-size: 1.5rem;
  font-weight: 200;
  color: white;
  text-align: center;
  margin: auto;
}

#description {
  font-size: 1.2rem;
  font-weight: 300;
  text-align: center;
  padding: 5% 10% 5%;
  margin: auto;
}

#welcome-home {
  position: absolute;
  width: max-content;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -100%);
}

#values {
  margin: auto;
  margin-top: 5%;
  padding-left: 10%;
  padding-right: 10%;
}

#value {
  display: grid;
  justify-content: space-around;
  align-items: center;
  height: fit-content;
}

#value-title {
  font-size: 1.5rem;
  font-weight: 700;
  color: #1b2246;
  margin: auto;
  margin-top: 10%;
  text-align: center;
}

#value-description {
  font-size: 1.2rem;
  font-weight: 300;
  text-align: center;
  width: 250px;
  margin-top: 3%;
}

#register-button {
  text-align: -webkit-center;
}
