#title {
  font-size: 3rem;
  font-weight: 700;
  color: white;
  text-align: center;
  margin: auto;
}

#title-container {
  background-color: #1b2246;
}

#sub-title {
  font-size: 1.5rem;
  font-weight: 200;
  color: white;
  text-align: center;
  margin: auto;
}

#description {
  font-size: 2rem;
  font-weight: 300;
  color: gray;
  text-align: left;
  padding: 5%;
  margin: auto;
}

#welcome-home {
  position: absolute;
  width: max-content;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -100%);
}

#values {
  margin: auto;
  margin-top: 1%;
  padding: 2%;
}

#value {
  display: grid;
  justify-content: space-around;
  align-items: center;
  height: fit-content;
}

#value-title {
  font-size: 3rem;
  font-weight: 700;
  color: #1b2246;
  margin: auto;
  text-align: center;
}

#value-description {
  font-size: 1.5rem;
  font-weight: 300;
  color: gray;
  text-align: center;
  margin: auto;
}
