#title {
  font-size: 5vw;
  font-weight: 500;
  color: #1b2246;
  text-align: center;
  margin: auto;
}

#sub-title {
  font-size: 2vw;
  font-weight: 200;
  color: #1b2246;
  text-align: center;
  margin: auto;
}

#description {
  font-size: 3vw;
  font-weight: 300;
  color: #1b2246;
  text-align: left;
  padding: 5%;
  margin: auto;
}

#welcome-home {
  position: absolute;
  width: max-content;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -100%);
}
