#nav-link {
  color: #1b2246;
  text-decoration: none;
  font-size: 16px;
  font-family: nort;
  display: grid;
  justify-content: center;
}
#nav-link.active {
  color: #828fa6;
}

#nav-link:hover {
  color: #828fa6;
}
#dropdown-basic {
  background-color: transparent;
  color: #1b2246;
  border: none;
}
.navbar-toggler .icon-bar {
  margin: 7px;
  display: block;
  width: 22px;
  height: 1px;
  background-color: #cccccc;
  border-radius: 1px;
}

#dropdown {
  margin-inline-start: auto;
  border: none;
}
