#header {
  background-color: white;
}

#nav-link {
  font-weight: 300;
  color: #1b2246;
  text-decoration: none;
  font-size: 16px;
  display: grid;
  justify-content: center;
}

#nav-link.active {
  color: #828fa6;
}

#nav-link:hover {
  color: #828fa6;
}

#dropdown-basic {
  background-color: transparent;
  color: #1b2246;
  border: none;
}

.navbar-toggler .icon-bar {
  margin: 7px;
  display: block;
  width: 22px;
  height: 1px;
  background-color: #cccccc;
  border-radius: 1px;
}

.navbar-toggler {
  margin: 1%;
}

.navbar {
  z-index: 2;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.close-navbar-toggler {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
}
.close-navbar-toggler.collapsed {
  z-index: -1;
}

#dropdown {
  display: grid;
  margin-inline-start: auto;
  justify-content: center;
  border: none;
}
